# Ignorar dependencias del backend y frontend
backend/node_modules/
CRMsvelte/node_modules/

# Ignorar variables de entorno
backend/.env
CRMsvelte/.env

# Ignorar archivos de construcción del frontend
CRMsvelte/dist/

# Ignorar logs
*.log

# Ignorar configuraciones específicas del sistema
.DS_Store
.vscode/