# Ignorar dependencias del backend y frontend
backend/node_modules/
frontend/node_modules/
CRM_svelte/node_modules/

# Ignorar variables de entorno
backend/.env
CRM_svelte/.env

# Ignorar archivos de construcción del frontend
CRM_svelte/dist/

# Ignorar logs
*.log

# Ignorar configuraciones específicas del sistema
.DS_Store
.vscode/